:root {
  /* COLORS */
  --color-primary-black: #212121;
  --color-primary-white: #fffefe;
  --color-grey-transparent: rgba(204, 204, 204, 0.3);
  --color-red: #f44336;

  --color-blue: #3F57B3;
  --color-blue-dark: #2d439d;

  /* FONT-FAMILY */
  --font-family-title: 'Rubik', sans-serif;
  --font-family-body: 'Roboto', sans-serif;
  --font-family-warning: 'Roboto', sans-serif;
  --font-size-body: 18px;
  --font-size-body-secondary: 14px;
  --font-size-small: 12px;
  --font-weight-body: 400;
  --font-weight-title: 700;
  --font-weight-warning: 600;
  --line-height-body: 1.5;
  --font-size-title: 28px;
  --font-size-warning: 20px;

  /* TIMING */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
}