.gallery-section {
  margin: 16px 24px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 18px;
}

.photo-card {
  box-sizing: border-box;
  width: calc((100% - 3 * 18px)/4);
  min-width: 240px;
  max-width: 450px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 10px;
  transition: all 350ms var(--timing-function);
}

.photo-card:has(.photo-card-link:focus) {
  outline: var(--color-blue) 3px solid;
  outline-offset: -3px;
}

.photo-card:has(.photo-card-link:focus),
.photo-card:has(.photo-card-link:hover) {
  transform: scale(1.03);
}

.photo-card .searched-image {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
  
  font-size: var(--font-size-body-secondary);

  background-image: url(./../img/nopic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photo-card .photo-card-link:focus {
  outline: none;
}

.photo-card .info {
  margin-top: -1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 4px 8px 4px;
}

.photo-card .info-item {
  width: fit-content;
}

.photo-card .info-item span {
  display: block;
  text-align: center;
  font-size: 0.7em;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .photo-card .info-item span {
    font-size: 0.75m;
  }
}

@media screen and (min-width: 1280px) {
  .photo-card .info-item span {
    font-size: 0.9em;
  }
}

.photo-card .info-title {
  font-weight: 700;
}

.load-more {
  margin: 32px auto 40px auto;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 38px;
  color: var(--color-primary-white);
  background-color: var(--color-blue);
  border: none;
  border-radius: 3px;
  font-size: var(--font-size-body-secondary);
  line-height: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 350ms var(--timing-function);
}

.load-more:hover,
.load-more:focus {
  font-size: var(--font-size-body-secondary);
  background-color: var(--color-blue-dark);
  transform: scale(1.1);
}

.end-of-img-list {
  margin: 32px auto 48px auto;
  text-align: center;
}
